<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-outline-main" (click)="crearNuevoCredito()">
                                    <em class="bi bi-plus"></em> Crear nuevo crédito
                                </button>
                            </div>
                        </div>

                        <app-modal-formulario-credito [textoTituloModal]="textoTituloModal" #modalFormularioCredito>
                            <ng-template #contenidoCuerpoModalTemplate>
                                <app-formulario-creditos-nuevos
                                    [informacionCreditoNuevoEditar]="informacionCreditoNuevoEditar"
                                    (guardarCreditoEmitter)="guardarInformacionCreditoNuevo($event)"
                                    (cancelarEmitter)="cerrarModal()"></app-formulario-creditos-nuevos>
                            </ng-template>
                        </app-modal-formulario-credito>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-tabla-creditos [informacionCreditosNuevos]="informacionCreditosNuevos" (editarInformacionCreditoNuevoEmitter)="editarInformacionCreditoNuevo($event)"></app-tabla-creditos>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
