<footer>

  <div class="border-top bg-white">


    <!-- START CONTENT FOOTER -->
    <div class="row pt-5 pr-5 pl-5">

      <div class="col-12 col-md-5 mb-3">
        <h2 class="text-tertiary font-weight-bold">¡Lo hacemos posible!</h2>
        <small>
          Nuestro empuje y sentido innovador nos lleva a hacer uso de la tecnología para hacer posible lo que deseas con un manejo más humano y sensible.
        </small>
        <div class="mt-5 text-center">
          <a class="btn btn-tertiary rounded-circle" role="button" href="https://www.facebook.com/sistecredito/">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="btn btn-tertiary rounded-circle ml-1" role="button" href="https://www.instagram.com/sistecredito/">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-7">

        <div class="row">
          <div class="col-sm-6 col-md-3 mb-3">
            <h5 class="text-side font-weight-bold">Personas</h5>
            <div class="d-flex">
              <ul class="navbar-nav">
                <li class="nav-item d-inline-block">
                  <a class="nav-link text-tertiary" target="_blank" href="https://www.sistecredito.com/preguntas-frecuentes/">
                    Preguntas frecuentes
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 mb-3">
            <h5 class="text-side font-weight-bold">Empresas</h5>
            <div class="d-flex">
              <ul class="navbar-nav">
                <li class="nav-item d-inline-block">
                  <a class="nav-link text-tertiary" target="_blank" href="http://crm.sistecredito.com/afiliacion">Afiliate</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 mb-3">
            <h5 class="text-alternative font-weight-bold">Nosotros</h5>
            <div class="d-flex">
              <ul class="navbar-nav">
                <li class="nav-item d-inline-block">
                  <a class="nav-link text-tertiary" target="_blank" href="https://www.sistecredito.com/conoce-mas/">Conócenos</a>
                </li>
                <li class="nav-item d-inline-block">
                  <a class="nav-link text-tertiary" target="_blank" href="https://www.sistecredito.com/informacion-para-el-consumidor/">Información para el consumidor</a>
                </li>
                <li class="nav-item d-inline-block">
                  <a class="nav-link text-tertiary" target="_blank" href="https://www.sistecredito.com/trabaja-con-nosotros/">Trabaja con nosotros</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 mb-3">
            <h5 class="text-alternative font-weight-bold">Contáctanos</h5>
            <div class="d-flex">
              <ul class="navbar-nav">
                <li class="nav-item d-inline-block">
                  <a class="nav-link text-alternative font-weight-bold" target="_blank" href="https://www.sistecredito.com/mapa-almacenes/">Mapa de almacenes</a>
                </li>

                <li class="nav-item d-inline-block">
                  <a class="nav-link text-alternative font-weight-bold" target="_blank" href="https://www.sistecredito.com/informacion-para-el-consumidor/">Términos legales</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>


      <!-- END CONTENT FOOTER -->

    </div>
  </div>

  <div class="bg-white">

    <hr class="w-75 border-alternative">

    <!-- START FOOTER -->
    <div class="row p-3">

      <div class="col-md-12 text-center">
        <h6 class="text-tertiary">© 2018 | www.sistecredito.com | Todos los derechos reservados.</h6>
      </div>

      <div class="col-md-12 text-center">
        <small class="text-tertiary">Todas las imágenes tienen derechos de autor. Cualquier copia sin autorización puede ser penalizada de acuerdo a las leyes penales vigentes.</small>
      </div>

    </div>
    <!-- END FOOTER -->

  </div>



</footer>
